{% extends 'home.html' %}

{% block content %}

    <h1>ERROR 500</h1>

    <link href='http://127.0.0.1:90/static/css/base.css' rel='stylesheet'>
    <link rel='shortcut icon' href='http://127.0.0.1:90/img/icono.png'>

    <div itemscope itemtype="https://schema.org/Action">
        <h2 itemprop="object"> ClinicSupplies :( </h2>
    </div>

    <div itemscope itemtype="https://schema.org/Action">
    <h2 itemprop="error">Lo sentimos nuestro servidor se quedo dormido, hacemos todos los esfuerzos por despertarlo.
                         Un poquito de paciencia. </h2>
        <p>
            <img src='http://127.0.0.1:90/static/img/leono.jpg' itemprop="image">
        </p>
        </div>

{% endblock %}
