{% extends 'home.html' %}

{% block content %}
    <h1>Products</h1>
        <ul>
            {% for dato in datos %}
                <li>
                    <a href='{% url "producte" dato.reference %}'>{{ dato.name }}</a>
                    <img src='{{ MEDIA_URL }}{{ dato.image }}'>

                </li>
                <h5>{{ dato.price }}</h5>
                <a  href='{%  url  "product_edit"  dato.reference  %}'>edit</a>
                <a href='{% url  "product_delete" dato.reference %}'> delete </a>
                <a href='{% url "producte" dato.reference %}'><img src='{{ MEDIA_URL }}{{ dato.image }}'style="width: 150px; height: 150px"></a>
                <h5>{{ dato.price }}€</h5>
            {% endfor %}
        </ul>


    <a href= {% url 'product_create' %}><button class="w3-button w3-circle w3-black w3-display-bottomright"style="position: fixed; width:1.8cm; height:1.8cm; margin-right: 2%; margin-bottom: 2%">+</button></a>

{% endblock %}
