{% extends 'home.html' %}

{% block content %}


<h1>Products</h1>
        <ul>
            {% for dato in datos %}
                {% if dato.discount == 0 %}
                    <div vocab="http://schema.org/" typeof="Product">
                        <a property="name" href='{% url "producte" dato.reference %}'>{{ dato.name }}</a>
                    </div>
                    <div vocab="http://schema.org/" typeof="Product">
                        <a property="name" property="productID" href='{% url "producte" dato.reference %}'><img property="image" src='{{ MEDIA_URL }}{{ dato.image }}'style="width: 150px; height: 150px"></a>
                        <h5>{{ dato.price }}€</h5>
                    </div>
                    <div vocab="http://schema.org/" typeof="UpdateAction">
                        <a property="url" href='{% url  'product_offer' reference=dato.reference %}'><button class="w3-button w3-grey"style="height: 1cm; width: 2cm; margin-bottom: 3%">offer</button></a>
                        <a property="url" href='{% url  "product_edit" dato.reference %}'><button class="w3-button w3-grey"style="height: 1cm; width: 2cm; margin-bottom: 3%">edit</button></a>
                        <a property="url" href='{% url  "product_delete" dato.reference %}'><button class="w3-button w3-grey"style="height: 1cm; width: 2cm; margin-bottom: 3%">delete</button></a>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    <div vocab="http://schema.org/" typeof="InsertAction">
    <a property="url" href= {% url 'product_create' %}><button class="w3-button w3-circle w3-black w3-display-bottomright"style="position: fixed; width:1.8cm; height:1.8cm; margin-right: 2%; margin-bottom: 2%">+</button></a>
    </div>
{% endblock %}
