{% extends 'home.html' %}

{% block content %}

    {% block encabezado %}
        <h1>Create new review</h1>
    {% endblock %}


    {% block contenido %}
          <div vocab="http://schema.org/" typeof="RegisterAction">
        <form property="object" id='form2' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
              <style type="text/css">
                  form {
                      right: 10%;
                      left: 10%;
                      text-indent: 4%;
                      text-align: left;

                      color: black;
                      background-color: lavender;
                  }

                  input, textarea, select {
                      margin: 2%;

                  }

              </style>
            {{form.as_p}}
            <p><input type='submit' value='Registrar'/></p>
        </form>
         </div>
    {% endblock %}
{% endblock %}
