{% extends 'home.html' %}

{% block content %}

    <h1>Your List</h1>
    <ul>
        {% for dato in datos %}
            {% for user in usuarios %}
                {% if dato.cart.pk == user.pk %}
                    <div>
                        <a href='{% url "producte" dato.reference %}'>{{ dato.name }}</a>
                    </div>
                    <div>
                        <a href='{% url "producte" dato.reference %}'><img src='{{ MEDIA_URL }}{{ dato.image }}'
                                                                           style="width: 150px; height: 150px"></a>
                        <h5>{{ dato.price }}€</h5>
                    </div>
                    <div>
                        <a href='{% url  "product_offer" dato.reference %}'>
                            <button class="w3-button w3-grey" style="height: 1cm; width: 2cm; margin-bottom: 3%">offer
                            </button>
                        </a>
                        <a href='{% url  "product_edit" dato.reference %}'>
                            <button class="w3-button w3-grey" style="height: 1cm; width: 2cm; margin-bottom: 3%">edit
                            </button>
                        </a>
                        <a href='{% url  "product_delete" dato.reference %}'>
                            <button class="w3-button w3-grey" style="height: 1cm; width: 2cm; margin-bottom: 3%">
                                delete
                            </button>
                        </a>
                    </div>
                {% endif %}

            {% endfor %}
        {% endfor %}
    </ul>

{% endblock %}
